.container {
    padding-top: 2em;
    margin-top: 2em;
    overflow: hidden;
}

.col {
    border-radius: 0.5em;
    background: white;
    box-shadow:  3px 3px 3px grey, 
             -3px -3px 3px lightgrey;
    margin: 1em;
}

ul {
    padding-top: 2em;
}

li {
    list-style: none;
    margin: 0.5em;
    font-family: 'Roboto', sans-serif;
}

p {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.nav {
    border-style: solid;
    background-color: black;
    color: white;
    float: left;
    width: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 9999;
}

.nav h3 {
    padding-left: 7.1em; 
    margin-top: 0.2em;
    font-family: 'Roboto', sans-serif;
}

.btn-success {
    border-radius: 50px;
    background: #7acd93;
    box-shadow:  3px 3px 3px #68ae7d, 
             -3px -3px 3px #8ceca9;
    width: 45%;
    margin-top: 2em;
}

#btnStartWorking {
    margin-left: 1em;
}

#laptopPicture {
    margin: 2.5em;
}